.parentcontainer{
    display:flex;

}
.maincontainer{
    display:block;
    text-align:left;
    margin-left: 400px;
}
p{
    padding:20px;
    margin-left:60px;
    color:purple;
    font-size: 1.4em;
}
#btn{
    padding:20px;
    background-color: green;
    color:wheat;
}
#btn:hover{
    background-color:red;

}